.logging{
  width: 400px;
  height: 400px;
  background-color: rgb(187, 233, 205);
  margin: 0 auto;
  margin-top: 130px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 50px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius:15px;
  -moz-border-radius: 15px;
}
